@use 'reset';
@use 'mobile';
@use 'desktop';

body {
  margin: 20px;
  background-color: #426190;
  color: white;
}

.addedToList {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: rgb(248, 244, 52);
  text-shadow: 2px 2px 2px black;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }

  #descriptionInput {
    text-transform: capitalize;
  }
}

.inputFieldToSort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-top: 2px solid black;
  border-radius: 20px 20px 0 0;

  button {
    margin-left: 20px;
    background-color: #0952aa;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #52a5fc;
    }
  }
  input {
    border: 2px solid black;
    border-radius: 20px;
  }
}

.choiceOfSubmit {
  width: 500px;
  display: flex;
  flex-direction: row;
  color: black;
  padding: 15px;
  justify-content: space-evenly;

  label {
    position: relative;
    left: 80px;
  }
  select {
    position: relative;
  }
}

span {
  &.error {
    max-width: 300px;
    color: red;
    font-weight: bold;
    border-left: 2px solid red;
    padding: 2px 8px;
    line-height: 1.3;
    font-size: 1rem;
    display: inline-block;
    margin-top: 2px;
    &::before {
      content: 'error';
      font-family: 'Material Symbols Outlined';
      font-size: 1rem;
      position: relative;
      top: 2px;
      display: inline-block;
      margin-right: 4px;
    }
    &.hidden {
      display: none;
    }
  }
}

.budgetDisplay {
  background-color: #f7f7f7;
  padding-bottom: 10px;

  .expensesBox {
    background-color: #f4d3d3;
    color: black;
    text-align: center;
    border: 2px solid #c87f7f;
    border-radius: 20px;
    li {
      color: black;
            text-shadow: 2px 2px 2px #ffffff;

    }

    h2 {
      color: black;
      text-shadow: 2px 2px 2px #ffffff;
      word-spacing: 2px;
      border-bottom: 2px solid #c87f7f;
    }
    button {
      margin-top: 5px;
      background-color: #d14343;
      border-radius: 20px;
      margin-left: 10px;
      color: black;
      box-shadow: 2px 2px 2px grey;
    }
  }
  .incomesBox {
    background-color: #addba8;
    color: black;
    text-align: center;
    border: 2px solid #183a02;
    border-radius: 20px;
    h2 {
      color: black;
      text-shadow: 2px 2px 2px #ffffff;
      word-spacing: 2px;
      border-bottom: 2px solid #183a02;
    }

    li {
      color: black;
      text-shadow: 2px 2px 2px #ffffff;
    }
    button {
      margin-top: 5px;
      background-color: #addba8;
      border-radius: 20px;
      margin-left: 10px;
      color: black;
      box-shadow: 2px 2px 2px grey;
    }
  }
}

.budgetDisplay {
  .expensesBox {
    button:hover {
      background-color: #f81919;
      cursor: pointer;
    }
  }

  .incomesBox {
    button:hover {
      background-color: #54e827;
      cursor: pointer;
    }
  }
}

li {
  list-style: none;
  margin: 5px;
  padding: 5px;
}

.remainingAmountContainer {
  display: flex;
  justify-content: center;
  background-color: #082F68;
  color: black;
  border-bottom: 2px solid black;
  border-radius: 0 0 20px 20px;
  padding-top: 5px;

  h2 {
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #053567;
    word-spacing: 2px;
  }
}
